<html>
<head>
    <style>
        * {
            font-family: "Calibri",sans-serif;
        }
        h1 {
            font-size: 13.0pt;
            color: #00A1E0;
        }
        p {
            font-size: 11.0pt;
            color: black;
        }
        .emailText {
            font-weight: bold;
        }
    </style>
        <script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="js/updated_apps_data.js"></script>
        <script src="js/commands.js"></script>
        <script src="js/nav.js"></script>
        <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div x-data="component">
        <div x-html="nav"></div>
    </div>
    
</body>
<script>
    document.addEventListener('alpine:init', function () {
        Alpine.data('component', function () {
            return {
                nav: nav_bar,
            }
        })
    })
</script>
</html>

